/* * Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* * Overriding Default styling */
:root {
    --neighbour-list-border-radius: 9px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 1rem 4rem;
    scroll-behavior: smooth;
}

input, button,
input:active, button:active{border: none;outline: none;}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #929292;
}

::-webkit-scrollbar-thumb:hover {
    background: #6F6F6F;
}

/* * Utility classes */
.d-flex {display: flex;}
.j-center {justify-content: center;}
.a-center {align-items: center;}
.w-100 { width: 100%;}
.flex-col {flex-direction: column;}

/* * Navbar styling */
.navbar {
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: 4rem;
}

.nav-brand {
    font-size: 1.75rem;
    font-weight: 900;
    text-transform: capitalize;
}

.buy-me-a-coffee {
    width: 155px;
}

/* * Search box */
.search-box-container {}

.love-your-neighbours{
    font-size: 2.5rem;
}

.love-your-neighbours i {
    color: #FFDD00;
    /* color: #fc3a52; */
    animation: heartScale 1s 1 both;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes heartScale {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.search-box-wrapper {
    position: relative;
    margin: 2rem 0px 1rem 0px;
}

.search-box {
    border: none;
    border-radius: 100px;
    background: #F4F4F4;
    
    width: 550px;
    height: 54px;
    padding: 15px;
    padding-left: 20px;
    
    font-weight: 700;
    font-size: 1.25rem;

    box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.25);

}

.search-box::placeholder {
    color: #929292;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.search-btn {
    border: none;
    border-radius: 100%;
    
    background: #FFDD00;
    
    width: 54px;
    height: 54px;
    
    position: absolute;
    right: 0;
    top: 0;
}
.search-btn > i {
    font-size: 1.5rem;
}

/* * Table */
.table-container {
    padding-top: 0rem;
}

table {
    width: 670px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-collapse:separate;
    border-spacing:0 15px;
    text-align: left;
    row-gap: 10px;
}

thead {
    color: #6F6F6F;
    box-shadow: 0px 3px 0px 0px #FFDD00;
}

thead th {
    font-weight: 900;
    padding: 10px;
}

tbody {
    font-size: 1.25rem;
}

tbody tr {
    background-color: #f1f1f1;
    border-radius: 100px;
}

tbody td {
    font-weight: 300;
    padding: 15px 10px;
}

.country-name{font-weight: 700 !important;}

tr td:first-child { 
    border-top-left-radius: var(--neighbour-list-border-radius);
}

tr td:last-child { 
    border-top-right-radius: var(--neighbour-list-border-radius); 
}

tr td:first-child { 
    border-bottom-left-radius: var(--neighbour-list-border-radius); 
}

tr td:last-child { 
    border-bottom-right-radius: var(--neighbour-list-border-radius); 
}

/* * Table data styling */

@keyframes fadeIn {
    from{opacity: 0;}to{opacity: 1;}
}
.results-table {
    opacity: 0;
    transition: all 2s ease-in-out; 
}

.table-body {
}

.table-row {
    /* animation: fadeIn 2s 1 cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.country-no {
    color: #6F6F6F;
}
.more-link {
    color: black;
}