/* * Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* * Overriding Default styling */
:root {
    --table-body-loading-screen-visibility: none;
    --neighbour-list-border-radius: 9px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 1rem 4rem;
    scroll-behavior: smooth;
}

input, button,
input:active, button:active{border: none;outline: none;}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #929292;
}

::-webkit-scrollbar-thumb:hover {
    background: #6F6F6F;
}

/* * Custom Animations */
@keyframes rotateLoading {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* * Utility classes */
.d-flex {display: flex !important;}
.d-none {display: none;}
.d-block {display: block;}
.j-center {justify-content: center;}
.a-center {align-items: center;}
.w-100 { width: 100%;}
.flex-col {flex-direction: column;}
.loading-animation {animation: rotateLoading 2s infinite linear;}
.oy-hidden {overflow-y: hidden;}

/* * Navbar styling */
.navbar {
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: 4rem;
}

.nav-brand {
    font-size: 1.75rem;
    font-weight: 900;
    text-transform: capitalize;
}

.buy-me-a-coffee {
    width: 155px;
}

/* * Search box */

.love-your-neighbours{
    font-size: 2.5rem;
    text-transform: capitalize;
}
.love-your-neighbours i {
    color: #FFDD00;
}

.search-box-wrapper {
    position: relative;
    margin: 2rem 0px 1rem 0px;
}

.search-box {
    border-radius: 100px;
    background: #F4F4F4;
    width: 550px;
    height: 54px;
    padding: 15px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 1.25rem;
    box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.25);
}

.search-box::placeholder {
    color: #929292;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.search-btn {
    border: none;
    border-radius: 100%;    
    background: #FFDD00;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 0;
    top: 0;
}
.search-btn > i {
    font-size: 1.5rem;
}

/* * Table */
.table-container {
    padding-top: 0rem;
}

table {
    width: 670px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-collapse:separate;
    border-spacing:0 15px;
    text-align: left;
    row-gap: 10px;
}

thead {
    color: #6F6F6F;
    box-shadow: 0px 3px 0px 0px #FFDD00;
}

thead th {
    font-weight: 900;
    padding: 10px;
}

tbody {
    font-size: 1.25rem;
}

tbody tr {
    background-color: #f1f1f1;
    border-radius: 100px;
}

tbody td {
    font-weight: 300;
    padding: 15px 10px;
}

.country-name{font-weight: 700 !important;}

tr td:first-child { 
    border-top-left-radius: var(--neighbour-list-border-radius);
}

tr td:last-child { 
    border-top-right-radius: var(--neighbour-list-border-radius); 
}

tr td:first-child { 
    border-bottom-left-radius: var(--neighbour-list-border-radius); 
}

tr td:last-child { 
    border-bottom-right-radius: var(--neighbour-list-border-radius); 
}

/* * Table data styling */

.results-table {
    position: relative;
}

.results-table::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    border-radius: 7px;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: var(--table-body-loading-screen-visibility);
    background-color: rgba(244, 244, 244, 0.507);
}

.table-row {}

.country-no {
    color: #6F6F6F;
}
.more-link {
    color: black;
}

.table-error {
    display: none;
}

.table-error tr {
    text-align: center;
    line-height: 50px;
}

.table-error tr > td {
    width: 100%;
    border-radius: 7px;
    

    color: #842029;
    background-color: #f8d7da;
    border: 3px solid #f09099;
}

/* More view container */
.more-view-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    /* display: block; */
}

#map {
    width: 100%;
}

/* .more-view-container > section {
    width: 50%;
} */

.more-view-details-container {
    padding: 20px;
    overflow-y: scroll;
    background: white;
    justify-content: end;
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
    border-radius: 9px;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.more-view-details-container::-webkit-scrollbar {
    width: 0px;
    border-radius: 10px;
}

.more-view-details-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.more-view-details-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparent;
}

.more-country-title {
    font-size: 2rem;
}

.more-country-name {

}

.more-view-details-container{
    padding: 30px;
}

.more-view-details-container section {
    padding-left: 20px;
}

.more-country-details-list {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 7px;
}

.more-country-details-list a {
    color: black;
}

.more-country-details-list li {
    /* list-style-type: ; */
    font-weight: 300;
    color: #6F6F6F;
}